<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tool"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">
	<beans profile="dev">
		<bean id="person" class="com.lx.entity.Person">
			<property name="name" value="name"/>
			<property name="age" value="18"/>
		</bean>
	</beans>
	<beans profile="default">
		<bean id="prodPerson" class="com.lx.entity.Person">
			<meta key="key" value="value"/>
			<property name="name" value="prod"/>
			<property name="age" value="28"/>
		</bean>
	</beans>
</beans>